<div class="card_box">
  <div class="card_box__info">
    <p>What's your opinion on</p>
    <h2>Pope Francis?</h2>
    <p class="title">
      He’s talking tough on clergy sexual abuse, but is he just another papal
      pervert protector? (thumbs down) or a true pedophile punishing pontiff?
      (thumbs up)
    </p>
    <div class="card_box__info__hyperlink">
      <img src="/assets/images/wikipedia.svg" alt="wikipedia" />
      <a href="">More information</a>
    </div>
    <p class="highlight">What's Your Veredict?</p>
  </div>
  <div class="card_box__vote">
    <div class="card_box__vote__positive">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    </div>

    <div class="card_box__vote__negative">
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    </div>
  </div>
</div>
