<div class="header">
  <input [(ngModel)]="checkbox" name="checkbox" type="checkbox" id="menu" />
  <label for="menu"><i class="fa fa-bars" aria-hidden="true"></i></label>
  <div class="header__items">
    <label for="menu"><i class="fa fa-times" aria-hidden="true"></i></label>

    <a [routerLink]="['/']" (click)="selected()" class="header__items__logo"
      >Rule of Thumb</a
    >
    <ul>
      <li>
        <a (click)="selected()" [routerLink]="['/trials']">Past Trials</a>
      </li>
      <li>
        <a (click)="selected()" [routerLink]="['/how']">How it Works</a>
      </li>
      <li>
        <a (click)="selected()" [routerLink]="['/authentication']"
          >log in / Sign Up</a
        >
      </li>
      <li>
        <a (click)="selected()" [routerLink]="['/search']"
          ><i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
