@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/bold/Lato-Bold.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/bold/Lato-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/bold/Lato-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
