<div class="home">
  <div class="home__section_one">
    <div class="home__section_one__image">
      <img src="/assets/images/pope.png" alt="pope" />
      <div class="home__section_one__image__background"></div>
    </div>

    <span *ngFor="let item of people">
      <app-card
        *ngIf="item.home"
        [data]="people"
        [item]="item"
        class="home__section_one__card"
      ></app-card>
    </span>
    <div class="home__section_one__bar">
      <div class="home__section_one__bar__item">
        <p>Closing in</p>
      </div>
      <div class="home__section_one__bar__item">
        <p>22 <span>days</span></p>
      </div>
    </div>
  </div>
  <div class="home__section_two container">
    <div class="home__section_two__box">
      <div class="home__section_two__box__text">
        <p>
          Speak out. Be heard. <br />
          <span>Be counted</span>
        </p>
        <p>
          Rule of Thumb is a crowd sourced court of public opinion where anyone
          and everyone can speak out and speak freely. It’s easy: You share your
          opinion, we analyze and put the data in a public report.
        </p>
      </div>
      <div class="icon">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="home__section_three container">
    <p>Votes</p>
    <div class="home__section_three__people">
      <span *ngFor="let item of people">
        <app-vote-card
          *ngIf="!item.home"
          [data]="people"
          [item]="item"
        ></app-vote-card>
      </span>
    </div>
  </div>
  <div class="home__section_four">
    <p>Is there anyone else you would want us to add?</p>
    <button class="primary-button">
      Submit a Name
    </button>
  </div>

  <div class="home__footer">
    <div class="home__footer__links">
      <a>Terms and conditions</a>
      <a>Privacy Policy</a>
      <a>Contact us</a>
    </div>
    <div class="home__footer__social">
      <a href="">Follow Us</a>
      <img src="/assets/images/twitter.svg" alt="" />
      <img src="/assets/images/facebook.svg" alt="" />
    </div>
  </div>
</div>
