@import './assets/modules/variables.scss';

*,
body {
  margin: 0;
  p,
  h1,
  h2,
  span,
  div {
    font-family: $primary_font;
    font-size: $primary-fs;
  }
}

@media (max-width: 768px) {
  .padding-left {
    // padding-left: 20px;
  }
}
.primary-button {
  padding: 10px 20px;
  border: 2px solid $white;
  font-size: $font-md;
  background-color: transparent;
  color: $white;
  cursor: pointer;
  transition: 500ms;
  &:focus,
  :active {
    outline: none;
    border-style: outset;
    background-color: $white;
    color: $black;
    transition: 500ms;
  }
}

.container {
  padding: 0 10%;
}

.content_empty {
  height: 100vh;
  width: 100%;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: $bold;
    font-size: $font-lg;
    color: $white;
    opacity: 0;
    animation: animation 2s forwards;
  }
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
