<div class="vote_card">
  <div class="vote_card__text">
    <div class="vote_card__text__wrapper">
      <div class="vote_card__text__wrapper__box">
        <div class="box green">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </div>
        <p>Kanye west</p>
      </div>
      <p class="time"><span>1 moth ago by</span> enternaitmew</p>
      <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quas,
        repellendus nulla perspiciatis enim consectetur assumenda sapiente.
      </p>
      <div class="vote_card__text__wrapper__vote_box">
        <div class="box green">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </div>
        <div class="box yellow">
          <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        </div>
        <button class="primary-button">Vote now</button>
      </div>
    </div>
  </div>
  <div class="vote_card__footer">
    <div class="positive">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      <p>50%</p>
    </div>
    <div class="negative">
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
      <p>50%</p>
    </div>
  </div>
  <img src="/assets/images/kanye.jpeg" alt="Kanye West" />
  <div class="background"></div>
</div>
