@import '../../../assets/modules/variables.scss';
.vote_card {
  height: 40rem;
  position: relative;
  img {
    position: absolute;
    top: 0;
    z-index: -1;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .background {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 98, 255, 0) 100%
    );
    position: absolute;
    top: 0;
  }
  &__text {
    position: relative;
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .green {
      background-color: $green;
    }
    .yellow {
      background-color: $yellow;
    }
    .box {
      margin-top: 5px;
      height: 40px;
      width: 45px;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      .fa-thumbs-up,
      .fa-thumbs-down {
        width: 60%;
        height: 60%;
        color: $white;
      }
    }
    &__wrapper {
      p,
      span {
        color: $white;
      }
      z-index: 2;
      &__box {
        display: flex;
        align-items: center;
        p {
          margin-left: 7px;
          font-weight: $regular;
          font-size: $font-max;
          color: $white;
        }
      }

      .time {
        font-size: $font-sm;
        padding-left: 55px;
        font-weight: $light;
        margin-bottom: 20px;
        span {
          font-size: $font-sm;
          font-weight: $bold;
        }
      }
      .description {
        font-size: $font-lg;
        font-weight: $light;
        padding-left: 55px;
        padding-right: 40px;
      }
      &__vote_box {
        margin-top: 20px;
        margin-bottom: 30px;
        padding-left: 55px;
        display: flex;
        align-items: center;
        width: 45%;
        justify-content: space-between;
      }
    }
  }
  &__footer {
    height: 13%;
    width: 100%;
    z-index: 4;
    position: relative;
    display: flex;

    .positive,
    .negative {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      p {
        font-size: $font-extra-lg;
        color: $white;
        font-weight: $light;
      }
      .fa-thumbs-up,
      .fa-thumbs-down {
        height: 40px;
        width: 40px;
        margin: 0px 10px;
        color: $white;
      }
    }
    .positive {
      background-color: $green-opacity;
      justify-content: flex-start;
    }
    .negative {
      background-color: $yellow-opacity;
      justify-content: flex-end;
      p {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  .vote_card {
    height: 30rem;
    .primary-button {
      font-size: $font-sm;
    }
    &__text {
      &__wrapper {
        &__box {
          p {
            font-size: $font-lg;
          }
        }
        .time {
          font-size: $font-sm;
        }
        .description {
          font-size: $font-sm;
        }
        &__vote_box {
          width: 85%;
          padding-left: 20px;
        }
      }
    }
    &__footer {
      .positive,
      .negative {
        p {
          font-size: $font-md;
        }
        .fa-thumbs-up,
        .fa-thumbs-down {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
