<div class="vote_card">
  <div class="vote_card__text">
    <div class="vote_card__text__wrapper">
      <div class="vote_card__text__wrapper__box">
        <div
          *ngIf="item.last_vote"
          [ngClass]="{
            green: item.last_vote === 'positive',
            yellow: item.last_vote === 'negative'
          }"
          class="box"
        >
          <div *ngIf="item.last_vote === 'positive'">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </div>
          <div *ngIf="item.last_vote === 'negative'">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
          </div>
        </div>
        <p>{{ item.name }}</p>
      </div>
      <p class="time"><span>1 moth ago by</span> enternaitmew</p>
      <p *ngIf="!finish" class="description">
        {{ item.description }}
      </p>
      <div *ngIf="!finish" class="vote_card__text__wrapper__vote_box">
        <div
          [ngClass]="{ active: selectedRating === 'positive' }"
          (click)="selectRating('positive')"
          class="box green"
        >
          <div>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </div>
        </div>
        <div
          [ngClass]="{ active: selectedRating === 'negative' }"
          (click)="selectRating('negative')"
          class="box yellow"
        >
          <div>
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
          </div>
        </div>
        <button
          [disabled]="selectedRating === null"
          (click)="sendRating()"
          class="primary-button"
        >
          Vote now
        </button>
      </div>
      <div *ngIf="finish" class="vote_card__text__wrapper__done">
        <p>Thank you for voting!</p>
        <button (click)="voteAgain()" class="primary-button">
          Vote again
        </button>
      </div>
    </div>
  </div>
  <app-progress-line
    (selectedRating)="sendRating($event)"
    [positive]="item.positive"
    [negative]="item.negative"
  ></app-progress-line>
  <img [src]="item.image" alt="{{ item.name }}" />
  <div class="background"></div>
</div>
